@import url("https://fonts.googleapis.com/css?family=Roboto|Viga&display=swap");

$primary-color: #ff3c3c;

body,
html {
  margin: 0;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  //display: none;
}

header {
  position: absolute;
  padding: 1em;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2em);
  background: white;

  a {
    text-decoration: none;
    color: black;
  }

  a.logo {
    font-family: "Viga", sans-serif;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    li a {
      padding: 1em;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: auto;

  section {
    padding: 2em;

    h1,
    h2 {
      margin: 0;
      text-transform: uppercase;
      font-family: "Viga";
    }

    h2 {
      font-size: 1.4rem;
    }

    .clipper {
      overflow: hidden;
    }
  }

  section.hero {
    padding-top: 8em;
    background: url("../asset/hero.png");
    background-size: cover;
    color: $primary-color;
  }

  section.about,
  section.contact {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  section.about {
    background: $primary-color;
    color: white;
  }

  section.contact {
    color: $primary-color;
  }
}

@media only screen and (min-width: 768px) {
  header {
    background: none;

    a.logo {
      font-size: 1.5em;
    }

    nav ul {
      display: flex;
      width: 28vw;
      li a {
        color: white;
      }
    }
  }

  .wrapper {
    grid-template-columns: 70% auto;
    grid-template-rows: 60% auto;
    grid-template-areas:
      "hero about"
      "hero contact";
    height: 100vh;
  }

  section {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
  }

  section.hero {
    grid-area: hero;

    h1 {
      font-size: 2.5em;
      margin-top: 5em;
    }

    p {
      font-size: 1.2em;
    }
  }

  section.about {
    grid-area: about;
    line-height: 2.5em !important;
  }

  section.contact {
    grid-area: contact;
  }
}
